<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Module" />

<f:section name="Content">
    <h1>Usage of doktype "{doktype.label}" ({status})</h1>

    <f:render partial="BackButton" arguments="{route: 'tools_ContentUsage.doktypes'}" />

    <f:switch expression="{status}">
        <f:case value="active"><f:render section="TableContent" arguments="{pages: doktype.activePages, status: status}" /></f:case>
        <f:case value="disabled">
            <p>Note: a page with a past publication date is classified as disabled.</p>
            <f:render section="TableContent" arguments="{pages: doktype.disabledPages, status: status}" />
        </f:case>
        <f:case value="deleted"><f:render section="TableContent" arguments="{pages: doktype.deletedPages, status: status}" /></f:case>
    </f:switch>

    <f:render partial="BackButton" arguments="{route: 'tools_ContentUsage.doktypes'}" />

</f:section>

<f:section name="TableContent">
    <div class="table-fit">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Uid</th>
                <th>Title</th>
                <th>Sys Language Uid</th>
                <th>Workspace Id</th>
                <th style="width:100px;"></th>
            </tr>
            </thead>
            <tbody>
                <f:for each="{pages}" as="page">
                    <tr>
                        <td>{page.uid}</td>
                        <td>{page.title}</td>
                        <td>{page.sysLanguageUid}</td>
                        <td>{page.t3verWsid}</td>
                        <td>
                            <f:if condition="{status} != deleted">
                                <f:then>
                                    <f:be.link route="web_layout" parameters="{id: page.uid}" class="btn btn-default"><core:icon identifier="actions-file-view" /></f:be.link>
                                    <be:link.editRecord uid="{page.uid}" table="pages" class="btn btn-default"><core:icon identifier="actions-open" /></be:link.editRecord>
                                </f:then>
                                <f:else>
                                    <f:be.link route="recycler" class="btn btn-default"><core:icon identifier="actions-file-view" /></f:be.link>
                                </f:else>
                            </f:if>
                        </td>
                    </tr>
                </f:for>
            </tbody>
        </table>
    </div>
</f:section>
